<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<header role="banner" class="[ site-head ] [ pad-top-700 pad-bottom-700 ">
			{% include "partials/global/site-head.njk" %}

		</header>

		<main>
			{# {{ layoutContent | safe }} #}
			{% block content %}
			{% endblock content %}
		</main>

		   {% include "partials/global/site-foot.njk" %}
			{% block foot %}
			{% endblock %}
	</body>

</html>
